@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Megrim|Poiret+One&display=swap');


* {
margin: 0;
padding: 0;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #575166, #39324d, #54587a, #32365c);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 0%;
	text-align: center;
}

h1 {
	font-weight: 300;
}

h3 {
	color: ;
	font-weight: 100;
}

h5 {
	color:#eee;
	font-weight:300;
}

a,
a:hover {
	text-decoration: none;
	color: #ddd;
}





body {
  overflow-x: hidden;
}

#myCanvas {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  filter: blur(150px);
  -webkit-filter: blur(150px);
  -moz-filter: blur(150px);
  -o-filter: blur(150px);
  -ms-filter: blur(150px);
  animation: gradientBG 15s ease infinite;
}

body {
  background-color:#2f2d54;
}

body {
  background-color:#2f2d54;
}


.menu {
  font-size: 1.2em;
  margin-top: 4vh;
  margin-left: 8vh;
  font-family: 'Poiret One', cursive;
}

.menu li{
  float: left;
  padding-right: 30px;
  font-size: 1.2em;
  color: #8ca6bf;
  list-style-type: none;
}

.menu li a:hover {
  color:white;
  transition: 0.5s;
}

#social{
  float: right;
  margin-right:
}
.menu li a {
  color: #8ca6bf;
  text-decoration: none;
}

}
#title {
  margin-top: 5vh;
  margin-bottom: 2vh;
  color: #bf78fa;
}

h1 {
  border-style: ridge;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 3.8em;
  color:white;
  font-family: 'Bungee Hairline', cursive;
}


p {
  text-align: center;
  font-size: 1.9em;
  color: #b1bfc9;
  font-family: 'Poiret One', cursive;
}

h2 {
  text-align: center;
  font-size: 3em;
  color: #a3a7c7;
  font-family: 'Bungee Hairline', cursive;

}

#workpage{
  border-style: ridge;
  margin-left: 70px;
  margin-right: 70px;
}

#p2 {
  text-align: center;
  font-size: 1.7em;
  color: #8e90a3;
    font-family: 'Poiret One', cursive;
}

h3 {
  text-align: center;
  font-size: 2em;
  color:#a3a7c7;
  font-family: 'Poiret One', cursive;
}
 #p3 {
   text-align: center;
   font-size: 1em;
   color: grey;
   font-family: 'Poiret One', cursive;
 }

.portfolio {
  width:50%;
}

#herelink {
  color:#84b7db;
}



#homelink {
  color:#84b7db;
  font-size: .5em;
}

#font {
  color:white;
  font-family:'Poiret One', cursive;
  font-size:2em;
}

#font2{
  color:#a6acb3;
  font-size:1.1em;
  font-family: 'Poiret One', cursive;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

button {
  background-color:#6a71ad ;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 1.5em;
  font-family: 'Bungee Hairline', cursive;
  padding: 5px;
  border: #7d89e8 solid 2px;
  border-radius: 25px

}

button:hover {
  background-color: grey;
  color: orange;
}




.parallax {
  background-image: url("https://raw.githubusercontent.com/fewnew/art74-fall2019/master/small-assignments/02-stereograph/Tiffany_Che_Stereograph.jpg");

  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax2 {
  background-image: url("https://raw.githubusercontent.com/fewnew/art74-fall2019/master/small-assignments/01-anaglyph/Tiffany_Chen_Anaglyph.jpg");

  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 {
  background-image: url("https://pbs.twimg.com/media/EIocUa1UUAATfkZ?format=jpg&name=4096x4096");

  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax4 {
  background-image: url("https://pbs.twimg.com/media/EIp1xzbW4AE6w2b?format=jpg&name=4096x4096");

  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax5 {
  background-image: url("https://i.imgur.com/6UuSQNy.png");

  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.info{
  z-index: 2;
  position: relative;
}
